html, body {
	font-family: Jura;
}

.wrap,.table,.ul-tabla,.top,.circle,.bottom {
  margin: 0;
  padding: 0;	
}

.wrap {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	color: #989A8F;
}

.table {
	background-color: #ffffff;
	height: 325px;
	width: 100%;
	margin-top: 50px;
}

.ul-tabla li {
	float: left;
	width: 199px;
	text-align: center;
	border: 1px solid #DDDCD8;
	border-top: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

.ul-tabla li:hover{
	color: #FFFFFF;
	background-color: #5D4660;
}

.top {
	background-color: #EAE9E4;
	height: 75px;
}
.top h1 {
	font-family: Oswald;
    padding: 20px 0 0 0;
	margin: 0;
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 60px;
	font-size: 20px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	background: #989A8F;
	margin-left: 70px;
	margin-top: 10px;
}

.bottom {
	margin-top: 50px;
}
.bottom p {
	font-size: 13px;
	padding: 5px;
	margin: 0;
}
.bottom p span {
  font-weight: bold;
}

.pink {
	background-color: #BC9B94;
}
