/* app css stylesheet */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

header {
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
}
div#logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.btn.btn-primary {
    width: 120px;
}
.predictivo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.predictivo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.predictivo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#selectJugadores {
    width: 25%;
    text-align: right;
}
option {
    margin-top: 2px;
    padding-top: 2px;
    text-align: right;
}
.comentario {
    font-size: 8pt;
    color: darkgrey;
    padding: 0;
    margin: 0;
}
.btn-custom {
    background-color: hsl(36, 100%, 49%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbf60", endColorstr="#f99500");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbf60), to(#f99500));
    background-image: -moz-linear-gradient(top, #ffbf60, #f99500);
    background-image: -ms-linear-gradient(top, #ffbf60, #f99500);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf60), color-stop(100%, #f99500));
    background-image: -webkit-linear-gradient(top, #ffbf60, #f99500);
    background-image: -o-linear-gradient(top, #ffbf60, #f99500);
    background-image: linear-gradient(#ffbf60, #f99500);
    border-color: #f99500 #f99500 hsl(36, 100%, 44%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}
