/* app css stylesheet */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

header {
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
}

div#logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.btn.btn-primary {
    width: 120px;
}

#selectJugadores {
    width: 40%;
    text-align: right;
}
option {
    margin-top: 2px;
    padding-top: 2px;
    text-align: right;
}

.comentario {
    font-size: 8pt;
    color: darkgrey;
    padding: 0;
    margin: 0;
}
.btn-custom {
    background-color: hsl(36, 100%, 49%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbf60", endColorstr="#f99500");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbf60), to(#f99500));
    background-image: -moz-linear-gradient(top, #ffbf60, #f99500);
    background-image: -ms-linear-gradient(top, #ffbf60, #f99500);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf60), color-stop(100%, #f99500));
    background-image: -webkit-linear-gradient(top, #ffbf60, #f99500);
    background-image: -o-linear-gradient(top, #ffbf60, #f99500);
    background-image: linear-gradient(#ffbf60, #f99500);
    border-color: #f99500 #f99500 hsl(36, 100%, 44%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

.dropdown-toggle {
    font-size: 12pt;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.predictivo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.predictivo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.predictivo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.navbar-default {
  background-color: #e7973c;
  border-color: #9d6a30;
}
.navbar-default .navbar-brand {
  color: #2d1c01;
}
.navbar-brand :hover,
.navbar-brand :focus {
  color: #2d1c01;
}
.navbar-default :hover,
.navbar-default :focus {
  color: #f6f0e7;
}
.navbar-default .navbar-text {
  color: #2d1c01;
}
.navbar-default .navbar-nav > li > a {
  color: #2d1c01;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f6f0e7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f6f0e7;
  background-color: #9d6a30;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f6f0e7;
  background-color: #9d6a30;
}
.navbar-default .navbar-toggle {
  border-color: #9d6a30;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9d6a30;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2d1c01;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2d1c01;
}
.navbar-default .navbar-link {
  color: #2d1c01;
}
.navbar-default .navbar-link:hover {
  color: #f6f0e7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2d1c01;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f6f0e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f6f0e7;
    background-color: #9d6a30;
  }
}