/* app css stylesheet */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

h3{
    margin-top: 0;
}

thead{
    background-color: #ffebc8;
    border-top: solid #faa305 1px;
}

th {
    font-family: 'Oswald', sans-serif;
    color: #704402;
    font-weight: normal;
}

.margen-top-20 {
    margin-top: 20px;
}

.total{
    font-weight: bold;
    background-color: #fef3cb;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar{
    margin-bottom: 0;
    background-color: #ffebc8;
}

header {
    width: 100%;
    margin: 0;
    text-align: center;
}

div#logo {
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border: solid #faa305;
    margin-top: -20px;
    border-width: 1px;
    background-color: #ffebc8;
}

#imgLogo {
    padding-top: 10px;
}

.btn.btn-primary {
    width: 120px;
}

#selectJugadores {
    width: 40%;
    text-align: right;
}
option {
    margin-top: 2px;
    padding-top: 2px;
    text-align: right;
}

.comentario {
    font-size: 8pt;
    color: darkgrey;
    padding: 0;
    margin: 0;
}

.panel{
    padding-left: 0;
    padding-right: 0;
}

.panel-heading>a{
    color: white;
}

.panel-heading>a :hover{
    text-decoration: none;
}

.panel-primary >.panel-heading {
    background-image: linear-gradient(to bottom, #925900 0, #d78300 100%);
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.table-button{
    width: 10%;
}

.bgg-img {
  float: left;
  margin-right: 20px;
  padding: 10px;
}

.outer-p {
  margin-bottom: 10px;
}

.inner-p {
  margin: 2px;
}

.btn-custom {
    background-color: hsl(36, 100%, 49%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbf60", endColorstr="#f99500");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbf60), to(#f99500));
    background-image: -moz-linear-gradient(top, #ffbf60, #f99500);
    background-image: -ms-linear-gradient(top, #ffbf60, #f99500);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbf60), color-stop(100%, #f99500));
    background-image: -webkit-linear-gradient(top, #ffbf60, #f99500);
    background-image: -o-linear-gradient(top, #ffbf60, #f99500);
    background-image: linear-gradient(#ffbf60, #f99500);
    border-color: #f99500 #f99500 hsl(36, 100%, 44%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
    padding-left: 15px;
}

.dropdown-toggle {
    font-size: 12pt;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.predictivo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.predictivo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.predictivo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


.navbar-default {
  background-color: #e7973c;
  border-color: #9d6a30;
}
.navbar-default .navbar-brand {
  color: #2d1c01;
}
.navbar-brand :hover,
.navbar-brand :focus {
  color: #2d1c01;
}
.navbar-default :hover,
.navbar-default :focus {
  color: #f6f0e7;
}
.navbar-default .navbar-text {
  color: #2d1c01;
}
.navbar-default .navbar-nav > li > a {
  color: #2d1c01;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f6f0e7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f6f0e7;
  background-color: #9d6a30;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f6f0e7;
  background-color: #9d6a30;
}
.navbar-default .navbar-toggle {
  border-color: #9d6a30;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #9d6a30;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2d1c01;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2d1c01;
}
.navbar-default .navbar-link {
  color: #2d1c01;
}
.navbar-default .navbar-link:hover {
  color: #f6f0e7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #2d1c01;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f6f0e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f6f0e7;
    background-color: #9d6a30;
  }
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

.borrar {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    height: 20px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #704402;
}

.close{
    color: #704402;
    font-weight: bold;
}

path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}