<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title" translate>Calcula Dividendos</h1>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" ng-cloak>
            <div class="alert alert-warning fade in col-xs-12 col-lg-10" ng-hide="divCtrl.mul10" ng-cloak>
                <a class="close" ng-click="divCtrl.mul10=true">&times;</a>
                <strong translate>¡Atención!</strong>  <span translate>El dividendo repartido no es múltiplo de 10.</span>
            </div>                
            <div class="row form-group">
                <div class="col-xs-4 col-lg-3 text-right">
                    <label class="control-label" translate>Dividendos a repartir</label>
                </div>
                <div class="col-xs-3 col-lg-6" >
                    <input class="form-control" 
                           type="number"
                           ng-model="divCtrl.dividendos"
                           placeholder="{{ 'Dividendos' | translate }}" 
                           required >

                </div>
                <div class="col-xs-2 col-lg-2" >
                    <button type="button"
                            class="btn btn-custom" 
                            ng-click="getDividendos(divCtrl.dividendos)" translate>Calcular</button>            
                </div>           
            </div>
        </div>
        <div class="center-block" style="width: 60%;" ng-show="divCtrl.listaDividendos.length">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th class="text-center" translate>Número de Acciones</th>
                        <th class="text-center" translate>Dividendos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dividendo in divCtrl.listaDividendos track by $index">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">{{dividendo}}</td>
                    </tr>                        
                </tbody>
            </table>
        </div>         
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="ok()" translate>Cerrar</button>
    </div>
</div>