<div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Calcula Dividendos</h1>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="alert alert-warning fade in col-xs-12 col-lg-10" ng-hide="divCtrl.mul10">
                    <a class="close" ng-click="divCtrl.mul10=true">&times;</a>
                    <strong>¡Atención!</strong> El dividendo repartido no es múltiplo de 10.
                </div>                
                <div class="row form-group">
                    <div class="col-xs-4 col-lg-3 text-right">
                        <label class="control-label">Dividendos a repartir</label>
                    </div>
                    <div class="col-xs-3 col-lg-6" >
                        <input class="form-control" 
                               type="number"
                               ng-model="divCtrl.dividendos"
                               placeholder="Dividendos" 
                               required >

                    </div>
                    <div class="col-xs-2 col-lg-2" >
                        <button type="button"
                                class="btn btn-custom" 
                                ng-click="getDividendos(divCtrl.dividendos)">Calcular</button>            
                    </div>           
                </div>
            </div>
            <div class="center-block" style="width: 60%;" ng-show="divCtrl.listaDividendos.length">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th class="text-center">Número de Acciones</th>
                            <th class="text-center">Dividendos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dividendo in divCtrl.listaDividendos track by $index">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center">{{dividendo}}</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>         
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">Close</button>
        </div>
</div>