<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title" translate>Cambiar Contraseña</h1>
    </div>
    <div class="modal-body">
        <form name="cambiarPass" class="form-horizontal" ng-submit="cambiarPassword(score18xxCtrl.user.name)" ng-cloak>
            <div class="alert alert-danger fade in col-xs-12 col-lg-10" ng-show="passError" ng-cloak>
                <p>{{passMsg}}</p>
            </div>                
            <div class="alert alert-success fade in col-xs-12 col-lg-10" ng-show="passChanged" ng-cloak>
                <p>{{passMsg}}</p>
            </div>         
            <div class="row form-group">
                <div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1 margen-top-10">
                    <input class="form-control" 
                           name="password"
                           type="password"
                           ng-model="cpassCtrl.password"
                           placeholder="{{'Contraseña actual' | translate}}" 
                           required >
                </div>
                <div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1 margen-top-10">
                    <input class="form-control" 
                           name="newPassword"
                           type="password"
                           ng-model="cpassCtrl.newPassword"
                           placeholder="{{'Nueva Contraseña' | translate}}" 
                           required >
                </div>
                <div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1 margen-top-10">
                    <input class="form-control" 
                           name="confirmPassword"
                           type="password"
                           ng-model="cpassCtrl.confirmPassword"
                           placeholder="{{'Confirmar nueva contraseña' | translate}}" 
                           ui-validate=" '$value===cpassCtrl.newPassword' "
                           ui-validate-watch=" 'cpassCtrl.newPassword' "
                           required >
                    <span class="help-block" ng-show='cambiarPass.confirmPassword.$error.validator && cambiarPass.confirmPassword.$dirty' translate>¡Las contraseñas no coinciden!</span>                
                </div>
                <button id="boton-cambiar" class="btn btn-info" type="submit" ng-hide="true" translate>Cancelar</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info" ng-click="cancel()" translate>Cancelar</button>
        <a class="btn btn-custom" linked="boton-cambiar" translate>Cambiar contraseña</a>
    </div>
</div>