<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="pull-left"><img alt="Brand" src="img\logo_score18xx.png"></a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Mantenimiento -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" 
                       data-toggle="dropdown" 
                       role="button" 
                       aria-haspopup="true" 
                       aria-expanded="false">Mantenimiento <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-click="menu.clickMenu('nuevaPartida')" role="menuitem"><a href="#/nueva">Nueva Partida</a></li>
                        <li ng-click="menu.clickMenu('listaPartidas')" role="menuitem"><a href="#/lista">Lista de partidas</a></li>
                    </ul>
                </li>
            </ul>
            
            <!-- Herramientas -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" 
                       data-toggle="dropdown" 
                       role="button" 
                       aria-haspopup="true" 
                       aria-expanded="false">Herramientas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-click="menu.clickMenu('nuevoJuego')" role="menuitem"><a href="#/nuevo">Nuevo juegos</a></li>
                        <li ng-click="menu.clickMenu('listadoJuegos')" role="menuitem"><a href="#/listado">Listado de juegos</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="menu.clickMenu('dividendos')" role="menuitem"><a href="#/dividendos">Dividendos por Acción</a></li>
                    </ul>
                </li>
            </ul>            
        </div> <!-- collapse navbar-collapse- -->
    </div><!-- .container-fluid -->
</nav>