<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="pull-left"><img alt="Brand" src="img\logo_score18xx.png"></a>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Mantenimiento -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" 
                       data-toggle="dropdown" 
                       role="button" 
                       aria-haspopup="true" 
                       aria-expanded="false">Mantenimiento <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/nueva">Nueva Partida</a></li>
                        <li><a href="#/lista">Lista de partidas</a></li>
                    </ul>
                </li>
            </ul>
            
            <!-- Herramientas -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" 
                       data-toggle="dropdown" 
                       role="button" 
                       aria-haspopup="true" 
                       aria-expanded="false">Herramientas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-hide="score18xxCtrl.user.rol==='Consulta'"><a href="#/juego">Nuevo juego</a></li>
                        <li><a href="#/juegos">Listado de juegos</a></li>
                        <li class="divider"></li>
                        <li ng-click="score18xxCtrl.open()"><a href>Dividendos por Acción</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href>{{score18xxCtrl.user.name}}</a></li>
                <li ng-click="menu.logout()"><a href>salir</a></li>
            </ul>            
        </div> <!-- collapse navbar-collapse- -->
    </div><!-- .container-fluid -->
</nav>

