<div  class='container-fluid'>
    <h1>Resultado Final</h1>
    <table class="table table-striped table-responsive table-condensed">
        <!-- Títulos -->
        <thead>
            <tr>
                <th>Empresa</th>
                <th ng-repeat="jug in score18xxCtrl.partida.jugadores.datos">{{jug.nombre}}</th>
            </tr>
        </thead>
        
        <tbody>
            <!-- Resultado total-->
            <tr>
                <th>Total</th>
                <td ng-repeat="jug in score18xxCtrl.partida.jugadores.datos">{{tabR.total(jug)}}</td>
            </tr>

            <!-- Efectivo -->
            <tr>
                <th>Efectivo</th>
                <td ng-repeat="jug in score18xxCtrl.partida.jugadores.datos">{{jug.efectivo}}</td>
            </tr>

            <!-- Dividendos -->
            <tr>
                <th>Dividendos</th>
                <td ng-repeat="jug in score18xxCtrl.partida.jugadores.datos">{{jug.dividendos}}</td>
            </tr>
    
            <!-- Acciones -->
            <tr ng-repeat="emp in score18xxCtrl.partida.empresas track by $index">
                <th>{{emp.nombre}}</th>
                <td ng-repeat="accion in emp.acciones">{{accion.numero * emp.valor}}</td>
            </tr>
        </tbody>
    </table>
</div>