<div class='container-fluid'>
    <h2 translate>Jugadores</h2>
    <!-- Nombre de la partida -->
    <div class="row form-group">
        <div class="col-xs-2 col-lg-1">
            <label class="control-label"></label>
        </div>
        <div class="col-xs-3 col-lg-2 text-center" >
            <label class="control-label" translate>Nombre del jugador</label>
        </div>
        <div class="col-xs-2 col-lg-1  text-center" >
            <label class="control-label" translate>Efectivo</label>
        </div>
    </div>
    <div class="row form-group" ng-repeat="j in score18xxCtrl.partida.jugadores.datos track by $index">
        <div class="col-xs-2 col-lg-1 text-right">
            <label class="control-label" translate>Jugador {{$index+1}}</label>
        </div>
        <div class="col-xs-3 col-lg-2" >
            <input class="form-control" 
                   type="text"
                   ng-model="score18xxCtrl.partida.jugadores.datos[$index].nombre"
                   placeholder="{{'Nombre jugador' | translate }}" 
                   required >

        </div>
        <div class="col-xs-2 col-lg-1" >
            <input class="form-control" 
                   type="number"
                   name="efectivo_{{$index}}"
                   ng-model="score18xxCtrl.partida.jugadores.datos[$index].efectivo"
                   placeholder="{{'Efectivo' | translate}}" 
                   required >

        </div>           
    </div>
</div>