<div class='container-fluid'>
    <h2>Reparto de dividendos</h2>
    
    <div class="col-md-5 col-lg-3">
        <!-- Elegir Empresa -->
        <div class="row-fluid form-group">
            <div class="col-xs-4 col-md-3 col-lg-4 text-right">
                <label for="empresaDividendo" class="control-label">Empresa</label>
            </div>
            <div class="col-xs-8 col-lg-7">
                <select class="form-control"
                        name="empresaDividendo"
                        ng-model="tabD.empDiv"
                        ng-options="e as e.nombre for e in score18xxCtrl.partida.empresas">
                </select>
            </div>        
        </div>

        <!-- Dividendos -->
        <div class="row form-group">
            <div class="col-xs-4 col-md-3 col-lg-4 text-right" >
                <label for="dividendo" class="control-label">Dividendos</label>
            </div>
            <div class="col-xs-4 col-lg-4" >
                <input name="dividendo"
                       class="form-control" 
                       type="number"
                       ng-model="tabD.dividendo">
            </div>
        </div>

        <!-- Número de repeticiones -->
        <div class="row form-group">
            <div class="col-xs-4 col-md-3 col-lg-4 text-right">
                <label for="num_repeticiones" class="control-label">Repetir</label>
            </div>        
            <div class="col-xs-4 col-lg-4">
                <select name="num_repeticiones" 
                        class="form-control" 
                        ng-model="tabD.numRepeticiones" 
                        ng-options="o for o in tabAJ.opcionDiez" 
                        placeholder="Número de jugadores" 
                        required >
                </select>
            </div>        
        </div>  
        
        <!-- Botón añadir -->
        <div class="row form-group">
            <div  class="col-xs-4 col-md-3 col-lg-4">
                <label class="control-label"></label>
            </div>
            <div class="col-xs-3 col-lg-4">
                <button type="button" 
                        class="btn btn-default" 
                        ng-disabled="score18xxCtrl.partida.empresas.length===0"
                        ng-click="tabD.addDividendo(tabD.empDiv, tabD.dividendo, tabD.numRepeticiones)">Añadir</button>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-lg-9 panel panel-default">
        <div class="panel-heading">Dividendos repartidos</div>
        <div class="panel-body">
            <table class="table table-striped table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th ng-repeat="jug in score18xxCtrl.partida.jugadores.datos">{{jug.nombre}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="fila in score18xxCtrl.partida.dividendos track by $index">
                        <th>{{fila.nombreEmpresa}}</th>
                        <td ng-repeat="div in fila.dividendos">{{div.valor}}</td>
                        <td><span class="close" ng-click="tabD.quitarDividendo(fila, $index)" title="Quitar dividendo">&times;</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>